<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create Your Character</h3>
  </div>
  <div class="panel-body">
    <label>Name:</label>
    <br>
    <input #newName>
    <br>
    <label>Favorite Color:</label>
    <br>
    <select #favoriteColor>
      <option value="red">Red</option>
      <option value="orange">Orange</option>
      <option value="yellow">Yellow</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
      <option value="pink">Pink</option>
      <option value="black">Black</option>
      <option value="white">White</option>
    </select>
    <br>
    <label>Do You Like Sushi?</label>
      <input type="radio" value="true" #sushi>Yes
      <input type="radio" value="false" #sushi>No
    <br>
    <button (click)="submitForm(newName.value, favoriteColor.value, sushi.value); newPostName.value=''; favoriteColor.value=''; sushi.value='';">Create Character</button>
  </div>
</div>
