<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create Your Character</h3>
  </div>
  <div class="panel-body">
    <label>Name:</label>
    <br>
    <input #newName>
    <br>
    <label>Favorite Color:</label>
    <br>
    <select #favoriteColor>
      <option [attr.value]="red">Red</option>
      <option [attr.value]="orange">Orange</option>
      <option [attr.value]="yellow">Yellow</option>
      <option [attr.value]="green">Green</option>
      <option [attr.value]="blue">Blue</option>
      <option [attr.value]="pink">Pink</option>
      <option [attr.value]="black">Black</option>
      <option [attr.value]="white">White</option>
    </select>
    <br>
    <label>Do You Like Sushi?</label><br>
    <select #sushi>
      <option [attr.value]="yes">Yes</option>
      <option [attr.value]="no">No</option>
    </select>
    <br>
    <button (click)="submitForm(newName.value, favoriteColor.value, sushi.value); newName.value=''; favoriteColor.value=''; sushi.value='';">Create Character</button>
  </div>
</div>
